<% $app_name = "MoneyApp" %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= $app_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to($app_name,"/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to($app_name + "とは","/about") %>
        </li>
        <li>
          <%= link_to("支出・収入・貯金","/posts/index") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
